	<!-- y'know, basic stuff -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<!-- CODE FOR BEING RESPONSIVE -->
	<meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

	<meta http-equiv="no-cache">
	<meta http-equiv="Expires" content="-1">
	<meta http-equiv="Cache-Control" content="no-cache">


	<!-- link for favi -->
	<link href='../images/favicon.png' rel="shortcut icon" />
	

	<!-- *******************************************  -->
	<!-- *******************title*******************  -->
	<title></title>



	<!-- <link rel="stylesheet" media="all" href="css/reset.css" /> -->
	<link rel="stylesheet" media="all" href="css/responsive.gs.12col.css" />
	
	<link rel="stylesheet" media="all" href="css/style.css" />
	
	<!-- imports for javascript -->
	<script src="scripts/respond.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" ></script>

	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
	<script src="scripts/effects.js"></script>
	<script src="scripts/functions.js"></script>
	
	<!-- <script src="scripts/responsiveslides.min.js"></script> -->
	

	<!-- ANGULAR IMPORT -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular.min.js"></script>